* {
    margin: 0;
    padding: 0;
    border: 0;    
}

/* =========================
   OSNOVNI STILOVI
   ========================= */
body, html {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    font-size: 16px;
}
main {
    padding: 0 1em 1em;
}
header {
    display: block;
    width: 100%;
}

/* =========================
   BANNER
   ========================= */
.hero-image {
    background-image: url("images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
}

/* =========================
   NAVIGACIJA
   ========================= */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}

/* =========================
   NASLOVI
   ========================= */
h1, h2 {
    margin: 0.5em;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
    color: #27318b;
}

/* =========================
   LINKOVI
   ========================= */
main a {
    color: #27318b;
    text-decoration: none;
}
main a:hover {
    color: #8b3727;
    text-decoration: underline;
}

/* =========================
   PARAGRAFI
   ========================= */
p {
    margin: 1em;
    line-height: 1.4em;
    letter-spacing: 1px;
}
hr {
    margin: 1em;
    border: 1px dotted #27318b;
    clear: both;
}

/* =========================
   NOVOSTI – slike lijevo, tekst desno, hr ispod
   ========================= */
.news article {
    margin: 2em 0;
}

.news article .article-content {
    display: flex;
    align-items: flex-start;
    gap: 1em;
}

.news article img {
    width: 200px;       /* manje slike */
    height: auto;
    display: block;
    border-radius: 5px;
}

.news article div {
    flex: 1;            /* tekst zauzima preostali prostor */
}

.news article h2 {
    margin: 0.2em 0;
}

.news article p {
    margin: 0.2em 0 0.5em 0;
    line-height: 1.4em;
}

.news article hr {
    margin-top: 1em;
    border: 1px dotted #27318b;
    width: 100%;       /* ispod slike i teksta */
}

/* =========================
   GALERIJA ZA ČLANKE
   ========================= */
#news_gallery figure {
    padding: 0.5em;
    margin: 0 1em 0.5em 1em;
    float: left;
    width: 10%;
    border: 1px solid black;
}
#news_gallery figcaption {
    font-size: 90%;
    text-align: center;
}

/* =========================
   FIGURE ZA ČLANKE
   ========================= */
figure {
    padding: 0.5em;
    margin: 0 1em 0.5em 1em;
    float: left;
    width: 35%;
    border: 1px solid black;
}
figcaption {
    font-size: 90%;
}
img {
    width: 100%;
}

/* =========================
   DRUŠTVENE MREŽE
   ========================= */
.social-icon {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

/* =========================
   FOOTER
   ========================= */
footer {
    background-color: #333;
    padding: 0.1em;
    clear: both;
}
footer p {
    color: white;
    text-align: center;
    margin: 0.5em;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
footer img {
    width: 20px;
    vertical-align: middle;
}

/* =========================
   KONTAKT FORMA
   ========================= */
#contact label {
    display: block;
    margin-top: 0.75em;
}
#contact input,
#contact select,
#contact textarea {
    border: 1px solid #999;
    padding: 0.5em;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}
#contact input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
    cursor: pointer;
    width: auto;
}

/* =========================
   GALERIJA HALJINA – FINALNO
   ========================= */
#gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 2em;
}
#gallery figure {
    float: none;
    width: 100%;
    margin: 0;
    border: none;
    text-align: center;
}
#gallery img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}
#gallery figcaption {
    font-size: 0.9em;
    margin-top: 10px;
}

/* =========================
   RESPONSIVNOST
   ========================= */
@media screen and (max-width: 900px) {
    figure {
        width: 90%;
        margin: 1em;
    }

    #news_gallery figure {
        width: 90%;
        margin: 0 1em 0.5em 1em;
        float: left;
        padding: 0.5em;
        border: 1px solid black;
    }
    #news_gallery figcaption {
        font-size: 90%;
        text-align: center;
    }

    #gallery {
        grid-template-columns: 1fr;
    }

    /* Responsivnost novosti – slike iznad teksta */
    .news article .article-content {
        flex-direction: column;
        align-items: center;
    }

    .news article img {
        width: 100%;
        max-width: 400px;
        margin: 0.5em 0;
    }

    .news article div {
        width: 90%;
    }
}
